@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* * {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
*/

body {
    color:#ffffff;
    background-image: url(https://github.com/elshaw82/NASA-API/blob/master/images/free-space-background-01.jpg?raw=true);   
}

.container {   
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;   
    height:auto;
    margin-bottom: 20px;
    padding-top:50px;
}

h1, h2, h3 {
    text-align: center;  
    font-family: 'Rajdhani', sans-serif;
}

.header {
    margin-top: 50px;
    display:flex;
    justify-content: baseline;
    align-items: center;
}

.add-margin {
    margin-top:300px;
}

h1 {
   font-size:34px;
   margin-bottom:20px;
}

h2 {
    font-size:21px;
    margin-top:20px;
}

h3 {
    font-size: 18px;
}

.imgBox {
    padding:10px;
    width:500px;
    border:none;
    outline:none;
}

.border {
    border:solid 2px white;
}

.copyright {
    font-family: monospace;
    font-size:12px;
    text-align: center;
    padding:10px;
}

.imgDescription {
    width:800px;
    font-family: monospace;
    line-height: 25px;
    padding:20px;
    margin-bottom: 20px;
}

.textBackground {
    background-color:rgba(255, 255, 255, 0.151);
}

img.newImage {
    border-radius: 5px;
}

.logo {
    width:140px;
    height:70px;
}

.generate {
    width:200px;
    height:40px;
    border-radius: 8px;
    outline: none;
    border:solid white 2px;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: navy;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin:20px;
    padding:5px;
    box-shadow: 3px 3px 10px black;
}

button:active {
    box-shadow: inset 3px 3px 10px black;
}

.title {
    padding:20px;
}

.newImg {
    object-fit: cover;
    width:480px;
}

  @media only screen and (max-width: 600px) {
    
    .imgBox {
      text-align:center;
      padding:none;
      width:320px;
      border:none;
      outline:none;
  }
   
    .imgDescription {
        width:320px; 
        padding:10px;     
    }

   .newImg {
    object-fit: cover;
    width:320px;
}
    
    h2 {
      margin-top:5px;
      font-size:14px;
    }
    
    h1 {
   font-size:21px;
   margin-bottom:5px;
}
    
    .add-margin {
    margin-top:250px;
}
    
 
}